
<div *ngIf="books.length==0">
  <h1>You don't have own Books</h1>
  <button class="btn btn-primary" (click)= "gotoCreate()"> Create first one! </button>
</div>
  <button  *ngIf="books.length!==0" class="btn btn-primary" (click)= "gotoCreate()"> Create book! </button>

<div class="col-md-12 ">
<h1 *ngIf="books.length!==0"> Your own books :</h1>
  <div *ngFor="let book of books" class="text-center col-xs-12 col-sm-6 col-md-3">
      <div  class="item">
         <img  (click)="model = book" [ngClass]="{selected:model==book}" class="img" [src]="book.imageUrl">
           <div class="delete" (click)="removeBook(book.bookId)" >X</div>
      </div>
      
  </div>

        
</div>

<div *ngIf = "!!model" class="col-md-6 col-md-offset-3">
  <h1>Edit book</h1>

   <form name="form" (ngSubmit)="f.form.valid && edit()" #f="ngForm" novalidate>
           <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bookName.valid }">
            <label for="bookName">Book Name</label>
            <input type="text" class="form-control" name="bookName" [(ngModel)]="model.bookName" #bookName="ngModel" required/>
            <div *ngIf=" !bookName.valid && f.submitted" class="help-block">Book Name is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !author.valid }">
            <label for="author">Author</label>
            <input type="text" class="form-control" name="author" [(ngModel)]="model.author"  #author="ngModel" required />
            <div *ngIf="f.submitted && !author.valid" class="help-block">Author is required</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !imageUrl.valid }">
            <label for="imageUrl">Image Url</label>
            <input  type="text" class="form-control" name="imageUrl" [(ngModel)]="model.imageUrl"  #imageUrl ="ngModel" required /> 
            <div *ngIf="f.submitted && !imageUrl.valid" class="help-block">Url is required</div>
        </div>

        
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <label for="password">Description</label>
            <textarea  cols="40" rows="5" type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required minlength="10" ></textarea>
            <div *ngIf="f.submitted && !description.valid" class="help-block">Minimum Length : 10</div>
        </div>

       


                   
         <div class="form-group">
            <button class="btn btn-primary"> Save changes </button>
        </div>

            <div   *ngFor="let error of errors" class="alert alert-danger">{{error}}</div>
      </form>


</div>
